// @font-face
font

// @keyframes
@keyframes spin {
  from {
  }
}

// align-content
ac
ac;n
ac;st
ac;c
ac;s
ac;e
ac;fs
ac;fe
ac;b
ac;fb
ac;lb
ac;sb
ac;sa
ac;se

// align-items
ai
ai;n
ai;st
ai;c
ai;s
ai;e
ai;fs
ai;fe
ai;ss
ai;se
ai;b
ai;fb
ai;lb

// align-self
as
as;a
as;n
as;st
as;c
as;s
as;e
as;fs
as;fe
as;ss
as;se
as;b
as;fb
as;lb

// all
all

// animation
ani

// animation-delay
anid
anid160
anid2s
anid.8s

// animation-direction
anidi
anidi;n
anidi;r
anidi;a
anidi;ar

// animation-duration
anidu
anidu160
anidu2s
anidu.8s

// animation-fill-mode
anifm
anifm;n
anifm;f
anifm;b
anifm;bo

// animation-iteration-count
aniic
aniic;i
aniic2

// animation-name
anin

// animation-play-state
anips
anips;p
anips;r

// animation-timing-function
anitf

// backface-visibility
bfv
bfv;v
bfv;h

// background
bg

// background-attachment
bga
bga;s
bga;f
bga;l

// background-blend-mode
bgbm
bgbm;c
bgbm;cd
bgbm;d
bgbm;l
bgbm;lu
bgbm;m
bgbm;n
bgbm;o
bgbm;s
bgbm;sa

// background-clip
bgcl
bgcl;b
bgcl;c
bgcl;p

// background-color
bgc

// background-image
bgi
bgi;u
bgi;l
bgi;r
bgi;rl
bgi;rr

// background-origin
bgo
bgo;b
bgo;c
bgo;p

// background-position
bgp
bgp;c
bgp;t
bgp;r
bgp;b
bgp;l
bgp;lt
bgp;br

// background-repeat
bgr
bgr;r
bgr;rx
bgr;ry
bgr;n
bgr;s
bgr;ro

// background-size
bgs
bgs;a
bgs;cov
bgs;con

// border
bd
bdt
bdr
bdb
bdl

// border-collapse
bdcl
bdcl;c
bdcl;s

// border-color
// border-bottom-color
// border-left-color
// border-right-color
// border-top-color
bdc
bdc;t
bdtc
bdrc
bdbc
bdlc
bdtc;t
bdrc;t
bdbc;t
bdlc;t

// border-image
bdi
// border-image-outset
bdio
// border-image-repeat
bdir
// border-image-slice
bdis
// border-image-source
bdiso
// border-image-width
bdiw

// border-radius
// border-bottom-left-radius
// border-bottom-right-radius
// border-top-left-radius
// border-top-right-radius
bdrs
bdrs.5
bdrs100p
bdrs4x
bdtrs
bdtrs.5
bdbrs
bdbrs10p
bdlrs
bdlrs.5
bdrrs
bdrrs10p
bdtlrs
bdtlrs.5
bdbrrs
bdbrrs10p

// border-spacing
bdsp

// border-style
// border-bottom-style
// border-left-style
// border-right-style
// border-top-style
bdst
bdst;n
bdst;h
bdst;dt
bdst;ds
bdst;s
bdst;db
bdst;g
bdst;r
bdst;i
bdst;o
bdtst
bdrst
bdbst
bdlst
bdlst;s

// border-width
// border-bottom-width
// border-left-width
// border-right-width
// border-top-width
bdw
bdw.5
bdw5p
bdw2e
bdtw
bdrw
bdbw
bdlw
bdlw.125
bdlw5p

// bottom
// left
// right
// top
t
r
b
l
l.5
l-50p

// box-decoration-break
bodb
bodb;s
bodb;c

// box-shadow
bosd
bosd;n

// box-sizing
bosz
bosz;c
bosz;b

// caption-side
cas
cas;t
cas;b

// caret-color
cac

// clear
clear

// clip
clip

// color
c
c;r
c;ra
c;h
c;ha
c;#

// column-count
colc

// column-fill
colf

// column-gap
colg

// column-rule
colr

// column-rule-color
colrc

// column-rule-style
colrs

// column-rule-width
colrw

// column-span
colsp

// column-width
colw

// columns
cols

// content
con

// counter-increment
coui

// counter-reset
cour

// cursor
cur

// display
d
d;b
d;c
d;f
d;g
d;i
d;ib
d;if
d;ig
d;it
d;l
d;n
d;ri
d;t
d;tc
d;tcap
d;tcol
d;tcolg
d;tfg
d;thg
d;trow
d;trowg

// empty-cells
ecs

// filter
fil

// flex
f

// flex-basis
fb
fb.5
fb100p

// flex-direction
fd
fd;r
fd;rr
fd;c
fd;cr

// flex-flow
ff

// flex-group
fg

// flex-shrink
fs

// flex-wrap
fw
fw;w
fw;n
fw;wr

// float
float

// font
fo

// font-family
fof

// font-kerning
fok

// font-size
fos

// font-size-adjust
fosa

// font-stretch

// font-style
fost
fost;i
fost;o

// font-variant
fov

// font-weight
fow

// grid
g

// grid-area
ga

// grid-auto-columns
gac
gac;a
gac;m
gac;n
gac1.5
gac5p

// grid-auto-flow
gaf
gaf;d
gaf;r
gaf;rd
gaf;c
gaf;cd

// grid-auto-rows
gar
gar;a
gar;m
gar;n
gar1.5
gar5p

// grid-column
gc
gc1
gc-2
gc2s
gc;1;3
gc;1-2
gc;2s4
gc;1;2s

// grid-column-end
gce
gce1
gce-2
gce2s

// grid-column-gap
gcp
gcp1.5
gcp-5p

// grid-column-start
gcs
gcs1
gcs-2
gcs2s

// grid-gap
gg

// grid-row
gr
gr1
gr-2
gr2s
gr;1;3
gr;1-2
gr;2s4
gr;1;2s

// grid-row-end
gre
gre1
gre-2
gre2s

// grid-row-gap
grp
grp1.5
grp-5p

// grid-row-start
grs
grs1
grs-2
grs2s

// grid-template
gt

// grid-template-areas
gta

// grid-template-columns
gtc

// grid-template-rows
gtr

// hanging-punctuation

// height
h
h;a
h12
h640x
h50p

// hyphens
hyp
hyp;a
hyp;m
hyp;n

// isolation
iso
iso;a
iso;i

// justify-content
jc
jc;st
jc;c
jc;s
jc;e
jc;fs
jc;fe
jc;l
jc;r
jc;sb
jc;sa
jc;se

// justify-items
ji
ji;a
ji;n
ji;st
ji;c
ji;s
ji;e
ji;fs
ji;fe
ji;ss
ji;se
ji;l
ji;r
ji;b
ji;fb
ji;lb

// justify-self
js
js;a
js;n
js;st
js;c
js;s
js;e
js;fs
js;fe
js;ss
js;se
js;l
js;r
js;b
js;fb
js;lb

// letter-spacing
ls
ls.125
ls.5e

// line-height
ln
ln1
ln200p

// list-style
lst

// list-style-image
lsti

// list-style-position
lstp

// list-style-type
lstt
ulst
olst

// margin
m
m;a
m;i
m;r
m.75
m20.5p
m;1.5.75
m;20p40p
m;-.75-.75
m;-1.5-1.5
m;;1.5.75;3
m;;20p15p30p

// margin-bottom
// margin-left
// margin-right
// margin-top
mt
mr
mb
ml
ml;a
ml;i
ml;r
mt1.5
mb-2e
mr15p

// max-height
mah
mah24
mah50p
mah18vw

// max-width
maw
maw24
maw50p
maw18vw

// min-height
mih
mih24
mih50p
mih18vw

// min-width
miw
miw24
miw50p
miw18vw

// mix-blend-mode
mbm

// object-fit
obf

// object-position
obp

// opacity
op
op.5
op1

// order
o
o2
o-1

// outline
ol

// outline-color
olc

// outline-offset
olo

// outline-style
ols

// outline-width
olw

// overflow
of
of;a
of;h
of;s
of;v

// overflow-x
ofx
ofx;a
ofx;h
ofx;s
ofx;v

// overflow-y
ofy
ofy;a
ofy;h
ofy;s
ofy;v

// padding
p
p;a
p;i
p;r
p.75
p20.5p
p;1.5.75
p;20p40p
p;-.75-.75
p;-1.5-1.5
p;;1.5.75;3
p;;20p15p30p

// padding-bottom
// padding-left
// padding-right
// padding-top
pt
pr
pb
pl
pl;a
pl;i
pl;r
pt1.5
pb-2e
pr15p

// page-break-after
pba

// page-break-before
pbb

// page-break-inside
pbi

// perspective
pp

// perspective-origin
ppo

// pointer-events
poe

// position
pos
pos;a
pos;f
pos;r
pos;s
pos;st

// quotes
quo

// resize
res

// scroll-behavior
scroll

// tab-size
tabs

// table-layout
tabl

// text-align
ta
ta;c
ta;j
ta;l
ta;r

// text-align-last
tal
tal;c
tal;j
tal;l
tal;r

// text-decoration
td
td;n
td;u
td;o
td;lt

// text-decorationc-color
tdc

// text-decorationc-line
tdl

// text-decorationc-style
tds

// text-indent
ti
ti-2e
ti-.5

// text-justify
tj

// text-overflow
to
to;c
to;e

// text-shadow
ts

// text-transform
tt
tt;n
tt;c
tt;l
tt;u

// transform
tf
tf;n
tf;m
tf;m3
tf;t
tf;t3
tf;tx
tf;ty
tf;tz
tf;s
tf;s3
tf;sx
tf;sy
tf;sz
tf;r
tf;r3
tf;rx
tf;ry
tf;rz

// transform-origin
tfo

// transform-style
tfs
tfs;f
tfs;p

// transition
tran

// transition-delay
trande

// transition-duration
trandu

// transition-property
tranp

// transition-timing-function
trantf

// unicode-bidi
ubd

// user-select
us

// vertical-align
va
va;b
va;bl
va;m
va;sub
va;sup
va;t
va;tb
va;tt

// visibility
v
v;v
v;h
v;c

// white-space
ws
ws;n
ws;nw
ws;p
ws;pl
ws;pw

// width
w
w;a
w18
w33.33p
w20vw
w640x

// word-break
wob
wob;n
wob;ba
wob;bw
wob;ka

// word-spacing
wos
wos.5
wos-2x

// word-wrap
wow
wow;n
wow;b

// writing-mode
writ

// z-index
z
z10
