global !p
endglobal

snippet ;context "React Context" b
import { createContext } from 'react'

type $1ContextType = {
	$0
}

const ${1}Context = createContext<$1ContextType>({

})

export default $1Context
endsnippet

