global !p
endglobal

snippet ;fc "Functional Component" b
interface $1Props {
  className?: string
}

const ${1:Component}: React.FC<$1Props> = props => {
	const { className = '' } = props
  return (
    <div className={\`\${className}\`}>
			${0:$1}
    </div>
  )
}

export default $1
endsnippet
