global !p
endglobal

snippet ;fc "Functional Component" b
import { c } from '@mms/scripts/react'

interface $1Props {
  className?: string | undefined
}

const ${1:Component}: React.FC<$1Props> = props => {
  return (
    <div className={c('', props.className)}>
			${0:$1}
    </div>
  )
}

export default $1
endsnippet
