global !p
import snippets
erd_opening = {
	'df': '|o',
	'fd': '|o',
	'dd': '||',
	'sf': '}o',
	'fs': '}o',
	'sd': '}|',
	'ds': '}|',
	'ff': 'o',
	'ss': '}',
}
erd_closing = {
	'jk': 'o|',
	'kj': 'o|',
	'kk': '||',
	'jl': 'o{',
	'lj': 'o{',
	'kl': '|{',
	'lk': '|{',
	'jj': 'o',
	'll': '{',
}
endglobal

snippet /\b([sdf]{2})([jkl]{2})\b/ "sl:{}, dk:|, fj:o" rA
`!p snip.rv = erd_opening[match.group(1)]`--`!p snip.rv = erd_closing[match.group(2)]`
endsnippet
