global !p
endglobal

snippet /;a /  "const _" rbA
const $0
endsnippet

snippet /;ea /  "export const _" rbA
export const $0
endsnippet

snippet /;f /  "function _" rbA
function $0
endsnippet

snippet /;ef /  "export function _" rbA
export function $0
endsnippet

