global !p
import snippets
endglobal

snippet ls "list-style: " b
list-style: $0
endsnippet

snippet lsi "list-style-image: " b
list-style-image: $0
endsnippet

snippet lsp "list-style-position: " b
list-style-position: $0
endsnippet

snippet lst "list-style-type: " b
list-style-type: $0
endsnippet
