global !p
import snippets
endglobal

snippet ls "list-style: "
list-style: $1
$0
endsnippet

snippet lsi "list-style-image: "
list-style-image: $1
$0
endsnippet

snippet lsp "list-style-position: "
list-style-position: $1
$0
endsnippet

snippet lst "list-style-type: "
list-style-type: $1
$0
endsnippet
