# ================================
# Plugin Manager
# ================================

# Dein
# https://github.com/Shougo/dein.vim
[[plugins]]
repo = 'Shougo/dein.vim'

# ================================
# Appearance
# ================================

# Airline
# https://github.com/vim-airline/vim-airline
[[plugins]]
repo = 'vim-airline/vim-airline-themes'
on_source = 'vim-airline'
[[plugins]]
repo = 'vim-airline/vim-airline'
depends = 'vim-airline-themes'
lazy = 0
hook_add = 'source $NVIM_PLUGINS/airline.vim'

# Cursorword
# https://github.com/itchyny/vim-cursorword
[[plugins]]
repo = 'itchyny/vim-cursorword'
lazy = 0
hook_add = '''
  autocmd MyAutoCmd FileType nerdtree let b:cursorword = 0
'''

# Solarized8
# https://github.com/lifepillar/vim-solarized8
[[plugins]]
repo = 'lifepillar/vim-solarized8'
lazy = 0

# ================================
# File Navigation
# ================================

# CtrlSpace
# https://github.com/vim-ctrlspace/vim-ctrlspace
[[plugins]]
repo = 'vim-ctrlspace/vim-ctrlspace'
depends = 'fzf.vim'
lazy = 0
hook_add = 'source $NVIM_PLUGINS/ctrlspace.vim'

# NERDTree
# https://github.com/scrooloose/nerdtree
[[plugins]]
repo = 'scrooloose/nerdtree'
depends = 'nerdtree-git-plugin'
on_cmd = 'NERDTree'
hook_add = 'source $NVIM_PLUGINS/nerdtree.vim'
hook_post_source = 'source $NVIM_PLUGINS/nerdtree-post_source.vim'
[[plugins]]
repo = 'Xuyuanp/nerdtree-git-plugin'
lazy = 1

# ZFZ
# https://github.com/junegunn/fzf.vim
[[plugins]]
repo = 'junegunn/fzf'
hook_post_update = './install --bin'
# We need only executable
merged = 0
lazy = 1
[[plugins]]
repo = 'junegunn/fzf.vim'
on_cmd = ['Files', 'GFiles', 'Buffers', 'Ag', 'Tags', 'BTags', 'Marks', 'Windows', 'History:', 'Maps', 'Filetypes']
hook_source = 'source $NVIM_PLUGINS/fzf.vim'

# ================================
# Moving & Searching
# ================================

# EasyMotion
# https://github.com/easymotion/vim-easymotion
[[plugins]]
repo = 'easymotion/vim-easymotion'
hook_add = 'source $NVIM_PLUGINS/easymotion.vim'
lazy = 0

# Incsearch
# https://github.com/haya14busa/incsearch.vim
[[plugins]]
repo = 'haya14busa/incsearch.vim'
on_func = 'incsearch#'
[[plugins]]
repo = 'haya14busa/incsearch-easymotion.vim'
depends = ['incsearch.vim', 'vim-easymotion']
on_map = '<Plug>(incsearch-easymotion-'
[[plugins]]
repo = 'haya14busa/incsearch-fuzzy.vim'
depends = 'incsearch.vim'
on_map = '<Plug>(incsearch-fuzzy-'

# ================================
# Editing
# ================================

# AutoPairs
# https://github.com/shirohana/auto-pairs
[[plugins]]
repo = 'shirohana/auto-pairs'
lazy = 0
hook_add = 'source $NVIM_PLUGINS/auto-pairs.vim'

# BetterWhitespace
# https://github.com/ntpeters/vim-better-whitespace
[[plugins]]
repo = 'ntpeters/vim-better-whitespace'
on_event = 'BufEnter'
hook_add = '''
  let g:better_whitespace_operator = 0
  let g:show_spaces_that_precede_tabs = 1
'''
hook_source = '''
  autocmd MyAutoCmd BufEnter * EnableStripWhitespaceOnSave
'''

# Commentary
# https://github.com/tpope/vim-commentary
[[plugins]]
repo = 'tpope/vim-commentary'
# on_map = ['<Plug>Commentary', '<Plug>ChangeCommentary']
on_map = '<Plug>Commentary'

# EasyAlign
# https://github.com/junegunn/vim-easy-align
[[plugins]]
repo = 'junegunn/vim-easy-align'
depends = 'vim-repeat'
on_map = ['<Plug>(EasyAlign', '<Plug>(LiveEasyAlign)']

# EditorConfig
# https://github.com/editorconfig/editorconfig-vim
[[plugins]]
repo = 'editorconfig/editorconfig-vim'
on_event = 'InsertEnter'
hook_add = '''
  let g:EditorConfig_disable_rules = [
    \ 'insert_final_newline',
    \ 'trim_trailing_whitespace',
    \ ]
'''

# GitGutter
# https://github.com/airblade/vim-gitgutter
[[plugins]]
repo = 'airblade/vim-gitgutter'
depends = 'vim-repeat'
on_func = 'gitgutter#'
on_event = 'BufEnter'
hook_add = '''
  let g:gitgutter_map_keys = 0
'''

# MultipleCursors
# https://github.com/terryma/vim-multiple-cursors
[[plugins]]
repo = 'terryma/vim-multiple-cursors'
on_event = 'BufEnter'
hook_add = '''
  let g:multi_cursor_use_default_mapping = 0
  let g:multi_cursor_exit_from_visual_mode = 0
  let g:multi_cursor_exit_from_insert_mode = 0
'''

# Peekaboo
# https://github.com/junegunn/vim-peekaboo
[[plugins]]
repo = 'junegunn/vim-peekaboo'
lazy = 0
hook_add = '''
  autocmd MyAutoCmd BufEnter * let b:peekaboo_on = 1
  let g:peekaboo_delay = 250
'''

# SplitJoin
# https://github.com/AndrewRadev/splitjoin.vim
[[plugins]]
repo = 'AndrewRadev/splitjoin.vim'
on_map = '<Plug>Splitjoin'
hook_add = '''
  let g:splitjoin_join_mapping = 0
  let g:splitjoin_split_mapping = 0
'''

# Surround
# https://github.com/tpope/vim-surround
[[plugins]]
repo = 'tpope/vim-surround'
depends = 'vim-repeat'
on_map = [
  '<Plug>Csurround',
  '<Plug>CSurround',
  '<Plug>Dsurround',
  '<Plug>Ysurround',
  '<Plug>YSurround',
  '<Plug>Yssurround',
  '<Plug>YSsurround',
  '<Plug>VSurround',
  '<Plug>VgSurround'
]
hook_add = '''
  let g:surround_no_mappings = 1
'''

# UltiSnips
# https://github.com/SirVer/ultisnips
[[plugins]]
repo = 'SirVer/ultisnips'
on_event = 'InsertEnter'
on_ft = 'snippets'
hook_add = '''
  let g:UltiSnipsSnippetDirectories = [$NVIM_SNIPPETS]
  let g:UltiSnipsEnableSnipMate = 0
'''

# Undotree
# https://github.com/mbbill/undotree
[[plugins]]
repo = 'mbbill/undotree'
on_cmd = 'UndotreeToggle'
hook_add = 'source $NVIM_PLUGINS/undotree.vim'

# ================================
# Utility
# ================================

# Repeat
# https://github.com/tpope/vim-repeat
[[plugins]]
repo = 'tpope/vim-repeat'
lazy = 1

# ================================
# Language
# ================================

# CSS3 .css
# https://github.com/hail2u/vim-css3-syntax
# https://github.com/ap/vim-css-color
[[plugins]]
repo = 'hail2u/vim-css3-syntax'
on_ft = 'css'
hook_add = '''
  autocmd MyAutoCmd FileType css setlocal iskeyword+=-
'''
[[plugins]]
repo = 'ap/vim-css-color'
on_ft = ['css', 'stylus']

# Dockerfile docker-compose.yml
# https://github.com/ekalinin/Dockerfile.vim
[[plugins]]
repo = 'ekalinin/Dockerfile.vim'
on_ft = ['Dockerfile', 'docker-compose']

# HTML5 .html .htm
# https://github.com/othree/html5.vim
[[plugins]]
repo = 'othree/html5.vim'
on_ft = 'html'
hook_add = '''
  let g:html5_event_handler_attributes_complete = 0
  let g:html5_rdfa_attributes_complete = 0
  let g:html5_microdata_attributes_complete = 0
  let g:html5_aria_attributes_complete = 0
'''

# JavaScript .js
# https://github.com/pangloss/vim-javascript
# https://github.com/gavocanov/vim-js-indent
# https://github.com/mxw/vim-jsx
# https://github.com/Quramy/vim-js-pretty-template
[[plugins]]
repo = 'pangloss/vim-javascript'
on_ft = 'javascript'
hook_add = '''
  let g:javascript_plugin_flow = 1
'''
[[plugins]]
repo = 'gavocanov/vim-js-indent'
depends = 'vim-javascript'
on_ft = 'javascript'
[[plugins]]
repo = 'mxw/vim-jsx'
depends = 'vim-javascript'
on_ft = 'javascript'
[[plugins]]
repo = 'Quramy/vim-js-pretty-template'
depends = ['vim-pug', 'vim-jsx']
on_ft = 'javascript'
hook_source = '''
  call jspretmpl#register_tag('pug', 'pug')
  autocmd MyAutoCmd FileType javascript* JsPreTmpl jsx
'''

# Markdown .md
# https://github.com/plasticboy/vim-markdown
# https://github.com/JamshedVesuna/vim-markdown-preview
[[plugins]]
repo = 'plasticboy/vim-markdown'
on_ft = 'markdown'
hook_add = '''
  let g:vim_markdown_no_default_key_mappings = 1
  let g:vim_markdown_new_list_item_indent = 2
  let g:vim_markdown_folding_disabled = 1
  let g:vim_markdown_conceal = 0
'''
[[plugins]]
repo = 'JamshedVesuna/vim-markdown-preview'
on_ft = 'markdown'
hook_add = '''
  let g:vim_markdown_preview_toggle = -1
  let g:vim_markdown_preview_github = 1
  let g:vim_markdown_preview_browser = 'Safari'
'''

# Nginx conf
# https://github.com/chr4/nginx.vim
[[plugins]]
repo = 'chr4/nginx.vim'
on_ft = 'nginx'

# Pug .pug
# https://github.com/digitaltoad/vim-pug
[[plugins]]
repo = 'digitaltoad/vim-pug'
depends = ['html5.vim', 'vim-javascript', 'vim-css3-syntax']
on_ft = 'pug'

# Stylus .styl
# https://github.com/shirohana/vim-stylus
[[plugins]]
repo = 'shirohana/vim-stylus'
depends = ['vim-css3-syntax']
on_ft = 'stylus'

# TOML .toml
# https://github.com/cespare/vim-toml
[[plugins]]
repo = 'cespare/vim-toml'
on_ft = 'toml'

# Vue .vue
# https://github.com/posva/vim-vue
[[plugins]]
repo = 'posva/vim-vue'
depends = ['html5.vim', 'vim-pug', 'vim-javascript', 'vim-css3-syntax', 'vim-stylus']
on_ft = 'vue'
